footer {
  background-color: var(--lgrey);
}
.container.footer {
  padding: 2rem 2rem 0 2rem;
}
.footer-logo {
  display: flex;
  justify-content: center;
  font-size: 32px;
  font-weight: 900;
  font-family: var(--ff-header);
  margin-bottom: 1rem;
}
.footer-top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  flex-wrap: wrap;
  border-bottom: 2px solid var(--blue);
}
.footer-links {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  display: flex;
  font-weight: 600;
  gap: var(--gap);
}
.footer-links a {
  color: var(--grey);
  transition: all 0.25s ease-in-out;
}
.footer-links a:hover {
  color: var(--blue);
}
.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 0.5rem 0;
  text-align: center;
}
.footer-bottom a {
  text-decoration: underline;
  font-weight: 600;
}
.footer-bottom a:hover {
    opacity: 0.8;
}
.hero-socials a {
  text-decoration: none;
}
